@if (SiteSettingsService.Settings(); as _Settings) {
  <div id="application-page-shell" [class]="_Settings.general.layoutClass + ' ' + _Settings.general.fontSizeClass">
    <app-navigation id="application-navigation" [Settings]="_Settings.navigation"></app-navigation>
    <main id="application-main-content">
      @for (_LayoutItem of _Settings.admin.contentLayout; track _LayoutItem.id) {
        @if (_LayoutItem.enabled) {
          @switch (_LayoutItem.id) {
            @case ('about') { <app-about id="application-about" [Settings]="_Settings.about"></app-about> }
            @case ('pricing') { <app-pricing id="application-pricing" [Settings]="_Settings.pricing"></app-pricing> }
            @case ('contact') { <app-contact id="application-contact" [Settings]="_Settings.contact"></app-contact> }
          }
        }
      }
    </main>
  </div>
} @else {
  <div id="application-settings-loading" class="min-vh-100 d-flex align-items-center justify-content-center">
    <div id="application-settings-loading-indicator" class="spinner-border" role="status"></div>
  </div>
}