<header id="application-navigation-header" class="sticky-top">
  <nav id="application-navigation-bar" [class]="Settings().navClass">
    <div id="application-navigation-container" [class]="Settings().containerClass">
      <a id="application-navigation-brand" [class]="Settings().brandClass" href="#application-main-content"></a>
      <div id="application-navigation-links" class="navbar-nav flex-row gap-3">
        <a id="application-navigation-about-link" [class]="Settings().linkClass" href="#application-about-section"></a>
        <a id="application-navigation-pricing-link" [class]="Settings().linkClass" href="#application-pricing-section"></a>
        <a id="application-navigation-contact-link" [class]="Settings().linkClass" href="#application-contact-section"></a>
      </div>
    </div>
  </nav>
</header>